<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Gestures.Samples.GesturesPowerPointPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Microsoft.Gestures.Samples.GesturesPowerPointPlugin.Properties.Settings>
        <setting name="DefaultTo" serializeAs="String">
          <value>gestures@microsoft.com</value>
        </setting>
        <setting name="DefaultSubject" serializeAs="String">
          <value>Testing 'Gesture Share' PowerPoint plugin</value>
        </setting>
        <setting name="DefaultMessage" serializeAs="String">
          <value>It works!!
This is really cool!

Thanks          </value>
        </setting>
      </Microsoft.Gestures.Samples.GesturesPowerPointPlugin.Properties.Settings>
    </userSettings>
</configuration>